<?xml version="1.0"?>
  <robot name="transporter">

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.02"/>
  </joint>
  
    <link name="base_link">
        <inertial>
          <mass value="0.000001"/>
          <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
          <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
       </inertial>
       <visual name="base">
        <origin xyz="0 0 -0.1" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.8 0.01"/>
        </geometry>
        <material name="semiWhite">
          <color rgba="1.0 1.0 1.0 0.5"/>
        </material>
      </visual>
      <collision name="base">
        <origin xyz="0 0 -0.1" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.8 0.01"/>
        </geometry>
      </collision>
    </link>

    <!-- <joint name="base_joint" type="prismatic"> -->
    <joint name="base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="tape_link"/>
      <axis xyz="1.0 0 0"/>
      <limit lower="-50.0" upper="50.0" effort="500.0" velocity="50"/>
    </joint>

    <link name="tape_link">
      <contact>
        <friction_anchor/>
          <stiffness value="30000.0"/>
          <damping value="10000.0"/>
          <spinning_friction value="0.1"/>
          <lateral_friction value="1.0"/>
      </contact>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="10"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="tape">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.8 0.03"/>
        </geometry>
        <material name="AlmostWhite">
          <color rgba="0.9 0.9 0.9 1.0"/>
        </material>
      </visual>
      <collision name="tape">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.8 0.03"/>
        </geometry>
      </collision>
    </link>

    <joint name="lborder_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="tape_link"/>
      <child link="lborder_link"/>
    </joint>

    <link name="lborder_link">
      <contact>
        <friction_anchor/>
          <stiffness value="30000.0"/>
          <damping value="10000.0"/>
          <spinning_friction value="0.1"/>
          <lateral_friction value="1.0"/>
      </contact>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="10"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="lborder">
        <origin xyz="0 0.4 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.02 0.10"/>
        </geometry>
        <material name="LightGrey">
          <color rgba="0.4 0.4 0.4 1.0"/>
        </material>
      </visual>
      <collision name="lborder">
        <origin xyz="0 0.4 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.02 0.10"/>
        </geometry>
      </collision>
    </link>

    <joint name="rborder_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="tape_link"/>
      <child link="rborder_link"/>
    </joint>

    <link name="rborder_link">
      <contact>
        <friction_anchor/>
          <stiffness value="30000.0"/>
          <damping value="10000.0"/>
          <spinning_friction value="0.1"/>
          <lateral_friction value="1.0"/>
      </contact>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="10"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="rborder">
        <origin xyz="0 -0.4 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.02 0.10"/>
        </geometry>
        <material name="LightGrey">
          <color rgba="0.4 0.4 0.4 1.0"/>
        </material>
      </visual>
      <collision name="rborder">
        <origin xyz="0 -0.4 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 0.02 0.10"/>
        </geometry>
      </collision>
    </link>


  
  </robot>
